<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Màn hình Console -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - [%X{trace_id}] - [IP: %X{client_ip}] [Email: %X{email}]: %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Ghi vào File (Lưu trong thư mục của Tomcat) -->
    <!-- địa chỉ default: C:\Users\Admin\AppData\Local\JetBrains\IntelliJIdea2026.1\tomcat\... -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/my-app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/my-app.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - [%X{trace_id}] - [IP: %X{client_ip}] [Email: %X{email}]: %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Chạy cả 2 appender trên -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>