* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Mulish, sans-serif;
}

input::-ms-reveal {
    display: none;
}

input::-ms-clear {
    display: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../../img/ruou.jpg');
    background-size: cover;
    background-position: center;
}

.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    gap: 25px;
    padding: 2.5rem 3rem 1rem 3rem;
    width: 30rem;
    max-width: 90%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.07);
}

h2 {
    font-size: 2rem;
    color: #595555;
    font-weight: 700;
    padding-bottom: 20px;
}

#login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.username-input, .password-input {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-wrapper {
    position: relative;
    width: 100%;
}

.input-wrapper #eyeIcon {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 15px;
    cursor: pointer;
}

.username-input label, .password-input label {
    font-weight: bold;
    font-size: 1rem;
    color: #555;
}

.username-input input, .password-input input {
    width: 100%;
    padding: 12px 15px;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.username-input input:focus, .password-input input:focus {
    outline: none;
    border-color: #ff0080;
    box-shadow: 0 0 0 3px rgba(255, 0, 98, 0.15);
}

.remember-me-input {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    color: #666;
}

.remember-me-input a {
    text-decoration: none;
    color: #e11da6;
    font-weight: 600;
    transition: text-decoration 0.2s ease;
    padding-left: 278px;
}

.remember-me-input a:hover {
    text-decoration: underline;
}

.remember-me-input input[type="checkbox"] {
    width: 15px;
    height: 15px;
}

button {
    width: 100%;
    padding: 14px 0;
    font-size: 1rem;
    font-weight: bold;

    color: white;
    background-color: #e5074a;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #ce1160;
}

.register-account {
    display: flex;
    flex-direction: row;
    gap: 3px;
    justify-content: center;
    text-align: center;
    font-size: 0.9rem;
    color: #555;
}

.register-account a {
    text-decoration: none;
    color: #e11da6;
    font-weight: 600;
    transition: text-decoration 0.2s ease;
}

.register-account a:hover {
    text-decoration: underline;
}

.social-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 8px 8px;
}

.social-login div {
    font-size: 16px;
    color: #555;
}

.social-login img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.social-login img:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 50px;
    transition: box-shadow 0.2s ease;
}

.label-with-icon {
    display: flex;
    align-items: center;
    gap: 5px;
}

.main-container {
    display: flex;
    flex-direction: row;
    transform: translateX(-35px)
}

.backward-button-container {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.backward-button-container .question {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Glassmorphism Magic */
    background: rgb(255, 255, 255);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    color: black;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.backward-button-container .question:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: translateY(-3px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    color: #fff;
}

/* Modal */
.modal-overlay-question {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-overlay-question.show {
    opacity: 1;
    visibility: visible;
}

.modal-content-question {
    background-color: white;
    border-radius: 12px;
    gap: 25px;
    padding: 2.5rem 3rem;
    width: 30rem;
}

.group-p {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.group-p ion-icon {
    font-size: 1.2rem;
    margin-right: 5px;
}

/* backward */
#backward {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    text-decoration: none;
    color: #666;
    font-size: 0.95rem;
    font-weight: 600;
    transition: all 0.3s ease;
    gap: 3px;
}

#backward::before {
    content: "←";
    font-size: 1.2rem;
    display: inline-block;
    transition: transform 0.3s ease;
}

#backward:hover {
    color: #e5074a;
}

#backward:hover::before {
    transform: translateX(-5px);
}